@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);




.profile-box .info .username{
	line-height: 25px;
}

.profile-box .info .name{
	line-height: 25px;
}

.profile-box .github a:link{
	color: #767678;

}

.profile-box .details{
	margin-top:5px;
	color: #767676;
	padding-left: 20px;

}

.profile-box .main-info{
	height:100px;
	padding-left: 20px;
}

.profile-box .profile {
	margin-left: 0px;
}

.profile-box .pic{
	float: left;
	margin-right: 5px;
}
