
.follow-box{
	padding-top: 5px;
}	

.follow-item .screen-name{
	padding-left: 20px;
	
}

.new-follow{
	padding-left: 20px;
	padding-top: 10px;
}


.follow-header{
	padding-left: 20px;
	color:#767676;
}
