<div class="profile">
    <div class="pic">
        <img src="{{Pic}}" width="80" height="80"/>
    </div>
    <div class="info">
        <h1 class="Name">
            {{ProperName}}
        </h1>
        
        <h2 class="Username">
            <span class="screen-name">&{{UserName}}</span>
        </h2>
        
        <p class="bio"><span class="info-label">.Bio = </span>{{Bio}}</p>
        <p class="email"><span class="info-label">.Email = </span>{{Email}}</p>
        <p class="skills"><span class="info-label">.Skills = </span>{{Skills}}</p>
        <p class="github"><span class="info-label">.Github = </span>{{Github}}</p>
    </div>
<div>