<div class="page">
<div class="profile-box">
   <!-- <div class="leftBrace">{</div> -->
    <div class="profile">

        <div class="pic">
            <img src="{{Pic}}" width="80" height="80"/>
        </div>
        <div class="info">
            <h1 class="name">
                {{ProperName}}
            </h1>
            
            <h2 class="Username">
                <span class="screen-name">#{{UserName}}</span>
            </h2>
            <p class="github"><a href="{{Github}}">{{Github}}</a></p>

         
        </div>
        <div class="details">           
            <p class="skills">{{Skills}}</p>

        </div>
    </div>
  <!--  <div class="rightBrace">}</div>-->
</div>
</div>