<div class="stream-item span8">
	<div class="pic span1 thumbnail">
		<img class="large-thumb" src="{{Pic}}" alt="{{UserName}}">
	</div>
	<div class="jit span6">
		<div class="username"><h3 class="screen-name" >#{{UserName}}<h3></div>
		<div class="text">{{JIT}}</div>
	</div>

</div>
